html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.first-column {
  position: fixed;
  width: 400px;
  /*border: 1px solid red;*/
  height: 100%;
  overflow: hidden;
}

.top-first-column {
  /*border: 1px solid green;*/
  height: 60%;
  position: relative;
  overflow: hidden;
}

.bottom-first-column {
/*  border: 1px solid purple;*/
  border-top: 1px solid lightgray;
  height: 40%;
  overflow: scroll;
}

.second-column {
  position: fixed;
  margin-left: 415px;
  height: 100%;
  width: 100%;
}

.config-button {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.title-column {
  width: 300px;
}

.map-table {
  display: inline;
  width: 600px;
}

.search tr {
  display: none;
}

.search tr.selected {
  display: table-row;
}

#google-map {
  margin-top: 20px;
}

#info-component {
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
