html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.first-column {
  position: fixed;
  width: 400px;
  height: 100%;
  overflow: hidden;
}

.top-first-column {
  height: 60%;
  position: relative;
  overflow-x: hidden;
}

.bottom-first-column {
  border-top: 1px solid lightgray;
  height: 40%;
  overflow: hidden;
}

.second-column {
  position: fixed;
  left: 415px;
  right: 0;
  height: 100%;
  overflow: hidden;
}

.config-button {
  position: absolute;
  right: 25px;
  top: 25px;
}

.title-column {
  width: 300px;
}

.map-table {
  display: inline;
  width: 600px;
}

.search tr {
  display: none;
}

.search tr.selected {
  display: table-row;
}

.component-header {
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0;
}

.table-content {
  height: calc(100% - 129px);
  overflow: auto;
}

.td-label {
  width: 120px;
}

.td-input {
  width: 150px;
}

#google-map {
  margin-top: 20px;
  height: calc(100% - 170px);
  width: calc(100% - 10px);
}

#list-component {
  height: 100%;
}

#map-component {
  height: 100%;
  width: 100%;
}

#info-component {
  height: 100%:;
  padding: 15px;
  height: 100%;
  overflow-x: hidden; 
}
